.calc {
    margin-top: 508px;
    position: relative;
  }
  
  .dropdown {
    cursor: pointer;
    outline: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding: 20px 23px;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    z-index: 9;
    border-radius: 4px;
    background: #fff url(../img/select-icon-down.svg) 96% 50% no-repeat;
    border: 1px solid #0a1e32;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
  
  .calc h2 {
    font-weight: bold;
    font-size: 41px;
    line-height: 57px;
  }
  
  
  
  .calc h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
  }
  
  
  
  .calc__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  
  /* Стилизация инпута */
  .calc__flex input:not([type="range"]) {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 15px 60px;
    text-align: center;
    border: 1px solid #1f1e25;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
  }
  
  .calc__flex input:not([type="range"])::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
 
  
  .calc__step {
    width: 51.3%;
  }
 
  
  .calc__step-target {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  
  
  .calc__step-parametrs {
    margin-top: 35px;
  }
  
 
  
  .calc__step-parametrs span {
    display: none;
    margin-top: 15px;
    line-height: 22px;
  }
  
  
  
  .calc__step-parametrs-wrap {
    margin-top: 17px;
  }
   
  .calc__step-parametrs-wrap > span {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #707c87;
    margin-top: 8px;
  }
  
  .calc__firstpay-wrap {
    margin-top: 18px;
  }
   
  
  .calc__firstpay-wrap,
  .calc__step-date-value > span {
    display: inline-block;
    margin-top: 6px;
    font-size: 14px;
  }
  
  /* стилизация input[type=number] */
  .calc__step-parametrs-input {
    position: relative;
  }
  
  .calc__step-parametrs-minus,
  .calc__step-parametrs-plus {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: #ffffff;
    outline: none;
  }
  
  .calc__step-parametrs-minus {
    left: 3%;
    font-size: 42px;
    transform: translateY(-68%);
  }
  
  .calc__step-parametrs-plus {
    right: 3%;
    font-size: 32px;
    transform: translateY(-50%);
  }
  
  .calc__line {
    width: 600px;
    height: 14px;
    margin-top: 10px;
  }
  
  .calc__line-value {
    font-size: 14px;
    line-height: 20px;
    color: #707c87;
  }
  
  .calc__step-date {
    position: relative;
    margin-top: 20px;
  }
  
  @media (max-width: $mobile-width) {
    .calc__step-date {
      margin-top: 15px;
    }
  }
  
  .calc__step-date-value {
    display: flex;
    justify-content: space-between;
  }
  
  .calc__step-checkbox {
    display: flex;
    margin-top: 20px;
  }
  
   
  
  .calc__step-checkbox input[type="checkbox"] {
    display: none;
  }
  
  .calc__step-checkbox label {
    position: relative;
    padding: 0 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
  }
  
  .calc__step-checkbox label::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid blue;
    border-radius: 2px;
    background: transparent;
    top: 1px;
    left: 0;
  }
  
  .calc__step-checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg);
    left: 3px;
    top: 4px;
  }
  